@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/RobotoThin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 300;
}
html, body {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400; 
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
    color: #4d2323;
}
* {
  box-sizing: border-box;
}
.header {
    background-color: #b2cd7e;
    border: 1px solid #def3b7;
}
.main {
    border: 1px solid #def3b7;
}
.footer {
    background-color: #b2cd7e;
    border: 1px solid rgb(7, 148, 7)
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-list {
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: aliceblue;
    text-decoration: none ;
}
.nav-link {
    transition: 0.3s;
  }
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.section {
    width: 50%;
}


.section-title-color {
    color:red;
}
.skills-color {
    color:lightcoral;
}
.rs-school {
    position: relative; 
    left: 1400px;
}









@media (max-width: 768px) {
    .section {
      width: 100%;
    }
}
.section-title {
    font-size: 22px;
    font-weight: 450;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #ffa601;
}
html {
    scroll-behavior: smooth;
}
a:hover {
 color:red;
}
.footer-container {
    display: flex;
}