html, body {
    font-family: Arial, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
* {
  box-sizing: border-box;
}
.header {
    border: 1px solid rgb(25, 0, 255);
}
.main {
    border: 1px solid rgb(255, 5, 5);
}
.footer {
    border: 1px solid rgb(7, 148, 7)
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}