@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/RobotoThin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 300;
}
html, body {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
* {
  box-sizing: border-box;
}
.header {
    border: 1px solid rgb(25, 0, 255);
}
.main {
    border: 1px solid rgb(255, 5, 5);
}
.footer {
    border: 1px solid rgb(7, 148, 7)
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-list {
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
}
.nav-link {
    transition: 0.3s;
  }
